<!DOCTYPE html>

<html>
<head>
  <title>Interfraternity Council</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//code.jquery.com/jquery.min.js"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <link href='https://code.cdn.mozilla.net/fonts/fira.css' rel='stylesheet' type='text/css' />
  <!-- this is a comment in HTML -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->         
  </head>

  <body>

    <div id="page-content">
      
      <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
      <!-- p means paragraph -->
    </div>
  
    
        <div class="styled">
              <h2>Interfraternity Council</h2>
          </div>
          {{#each ifc}}
          <div class='ind'>
                <a href="{{url}}"><img class="thumb" style="vertical-align:middle" src="{{image}}">
                <span class="drawerz" style="">{{name}}</span></a>
          </div>
          {{/each}}
      <!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
      <!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
      <!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
      
    <!--<div>
      <img class="img-responsive" id="help" src="images/help.png"/></div> 
    </div>-->

    <div>
      <a href="settings">
        <img class="img-responsive" id="help" src="images/help.png"/>
      </a>
    </div>
</div>
</body>

<!--Figure out a better way to abstract this -->
<!--It's JQuery that should go into it's own .js-->
<script>
$(document).ready(function () {


    //stick in the fixed 100% height behind the navbar but don't wrap it
    $('#slide-nav.navbar-inverse').after($('<div class="inverse" id="navbar-height-col"></div>'));
    
    $('#slide-nav.navbar-default').after($('<div id="navbar-height-col"></div>'));  

    // Enter your ids or classes
    var toggler = '.navbar-toggle';
    var pagewrapper = '#page-content';
    var navigationwrapper = '.navbar-header';
    var menuwidth = '100%'; // the menu inside the slide menu itself
    var slidewidth = '80%';
    var menuneg = '-100%';
    var slideneg = '-80%';


    $("#slide-nav").on("click", toggler, function (e) {

      var selected = $(this).hasClass('slide-active');

      $('#slidemenu').stop().animate({
        left: selected ? menuneg : '0px'
      });

      $('#navbar-height-col').stop().animate({
        left: selected ? slideneg : '0px'
      });

      $(pagewrapper).stop().animate({
        left: selected ? '0px' : slidewidth
      });

      $(navigationwrapper).stop().animate({
        left: selected ? '0px' : slidewidth
      });


      $(this).toggleClass('slide-active', !selected);
      $('#slidemenu').toggleClass('slide-active');


      $('#page-content, .navbar, body, .navbar-header').toggleClass('slide-active');


    });


    var selected = '#slidemenu, #page-content, body, .navbar, .navbar-header';


    $(window).on("resize", function () {

      if ($(window).width() > 767 && $('.navbar-toggle').is(':hidden')) {
        $(selected).removeClass('slide-active');
      }


    });




});
</script>
</html>
