<!doctype html>

<html>
<head>
  <title>clubMe</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//code.jquery.com/jquery.min.js"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <link href='https://code.cdn.mozilla.net/fonts/fira.css' rel='stylesheet' type='text/css' />
  
  <!-- this is a comment in HTML -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->         
  </head>

  <body>

  	<div id="page-content">
  		
  		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
  		<!-- p means paragraph -->
  	</div>
  	<div class="container">
  		<div class="myInfo">
  			<div>
  				<img class="img-responsive" id ="image" src="../../images/nmotion.jpg"/></div>
  				<p id="name">[N]Motion</p>
  				<p id="info">Dance Team</p>
          <div><p>[N]Motion is UCSD NSU's modern/hiphop dance team. It was founded by NSU members Julie Zhan and Drew Vo, who had a dream of making a dance team for the Nikkei Student Union. This dream came true with the help of dancer and choreographer Abe Chung of 220. The 14 members of the very first [N]Motion team debuted at NSU's 2009 Culture Show and has since gained recognition from a number of different organizations. Keep a look out for [N]Motion's other performances throughout the year, including Fusion Kick-Off, NSU/JSA Matsuri, and more!</p></div>
          <div>
        <a href="https://www.facebook.com/NMotion-355529240024/">
        <img class ="icon" src="../../images/facebook.png"/></a>
        <a href="http://www.youtube.com/user/ucsdnmotion">
        <img class ="icon"src="../../images/youtube.png"/>
        </a></div>
  		</div>

      
      
    
</div>
</body>

<script src="/js/searchbar.js"></script>
</html>
