<!doctype html>

<html>
<head>
  <title>clubMe</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//code.jquery.com/jquery.min.js"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <link href='https://code.cdn.mozilla.net/fonts/fira.css' rel='stylesheet' type='text/css' />
  <!-- this is a comment in HTML -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->         
  </head>

  <body>

  	<div id="page-content">
  		
  		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
  		<!-- p means paragraph -->
  	</div>
  	<div class="container">
  		<div class="myInfo">
  			<div>
  				<img class="img-responsive" id ="image" src="images/tritontv.jpg"/></div>
  				<p id="name">Triton Television</p>
  				<p id="info">Broadcasting & Media Production</p>
          <div><p>At over 50 members, Triton TV boasts a diverse roster of students from all campus colleges and across a variety of majors. Our members are encouraged to hone their skills in all walks of media production including, Directing, Editing, Producing, Cinematography, Sound Design, Lighting Design, Screenwriting, Motion Graphics, Broadcast Journalism, and Live Event Management.</p></div>
          <div>
        <a href="https://www.facebook.com/tritontv/">
        <img class ="icon" src="images/facebook.png"/></a>
        <a href="https://www.instagram.com/tritontelevision/">
        <img class ="icon"src="images/instagram.png"/>
        </a>
        <a href="http://www.tritontelevision.com">
        <img class ="icon"src="images/chrome.png"/>
        </a></div>
  		</div>

     <a href="#" id="button">
      <span>Bookmark Club</span>
      </a>

      
      
    
</div>
</body>

<!--Figure out a better way to abstract this -->
<!--It's JQuery that should go into it's own .js-->
<script>

$(document).ready(function() {
    document.getElementById('button').onclick = (function() {
    document.getElementsByTagName('span')[0].innerHTML = 'Success!';
    return false;
  }
});
</script>
<script src="/js/searchbar.js"></script>
</html>
