/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

body {
     background: rgba(41,28,2,1);
     background: -moz-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,28,2,1)), color-stop(100%, rgba(27,54,109,1)));
     background: -webkit-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     background: -o-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     background: -ms-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     background: linear-gradient(to bottom, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#291c02', endColorstr='#1b366d', GradientType=0 );
     font-family: "Fira Sans";
     font-weight: lighter;
}

.container {
     display: block;
     text-align: center;
}

#name {
     font-size: 50px; 
     display: block;
}
#info {
     font-size: 20px;
     text-align: center;
     display: block;
}

#profile {
     text-align: center;
     color: #FFFFFF;
     font-family: "Meta";
     font-size: 50px;
}

.jumbotron {
	position: relative;
     background: #25231e;
}

.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

#header {
     display: inline-block;
}

#image {
     width: 90%;
}
.name {
     list-style-type: none;
     font-size: 20px;
     color: #FFFFFF;
     font-family: "Fira Sans";
     padding-top: 20px;
}

.icon {
     width: 100%;
     text-align: center;
     display: block;
}

#categories {
     font-size: 35px;
     font-family: "Fira Sans";
     font-weight: light;
     font-color: #fff;
     text-align: center;
}
.thumbnail {
     display: block;
}

.thumbnail:hover{
     text-decoration: none !important;
     
}

#help {
     float: right;
     width: 20%;
     padding-bottom: 10px;
}

/* used to center icons */
.vcenter {
 display: inline-block;
 vertical-align: middle;
 float: none;
}
