/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

body {
background: rgba(41,28,2,1);
background: -moz-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,28,2,1)), color-stop(100%, rgba(27,54,109,1)));
background: -webkit-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
background: -o-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
background: -ms-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
background: linear-gradient(to bottom, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#291c02', endColorstr='#1b366d', GradientType=0 );
font-family: "Fira Sans";
font-weight: lighter;
}
#name {
     font-size: 80px; 
     display: inline-block;
     text-align: center;
}
#profile {
     text-align: center;
     color: #FFFFFF;
     font-family: "Fira Sans";
     font-weight: normal;
     font-size: 50px;
}

.myInfo {
     padding-bottom: 100px;
     margin-left: 100px;
     margin-bottom: 100px;
}
.jumbotron {
	position: relative;
     background: #000000;
}

.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

#image {
     width: 70%;
     float: right;
}
.name {
     list-style-type: none;
     font-size: 20px;
     color: #FFFFFF;
     font-family: "Fira Sans";
     padding-top: 30px;
}

#categories {
     font-size: 40px;
     font-family: "Fira Sans";
     font-weight: light;
     font-color: #fff;
}
.thumbnail {
     display: inline-block;
}
a.thumbnail {
     text-decoration: none !important;
}
#help {
     float: right;
     width: 15%;
     padding: 40px;
     margin-right: -150px;
}

