@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

ul {      
    margin:0;     
    padding:0;     
    list-style:none 
} 

ul li a, ul li span {  
    display: block;
} 

ul li span {   
    height:30px;/* height and width of icon  */     
    width:30px;/*   "  " */
    background-image: url("images/prof.png");
    margin:auto;      
} 

ul li { 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 7.5rem;    
    float:left;     

} 

ul li a {     
    text-decoration:none;     
    padding:0  10px; 
} 

ul li.first { 
    border-left: 1px solid #999; 
} 

.link {
    width: 95%;
}

#navbar {
    background-color: #2d2315;
}

body {
     background: rgba(41,28,2,1);
     background: -moz-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,28,2,1)), color-stop(100%, rgba(27,54,109,1)));
     background: -webkit-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     background: -o-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     background: -ms-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     background: linear-gradient(to bottom, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#291c02', endColorstr='#1b366d', GradientType=0 );
     font-family: "Fira Sans";
     font-weight: lighter;
}

.container {
     display: block;
     text-align: center;
}

#name {
     margin-top: 2rem;
     font-size: 3rem; 
     display: block;
}
#info {
     font-size: 1.5rem;
     font-weight: normal;
     text-align: center;
     display: block;
}

#descrip {
    padding: 1.2rem;
    text-align: left;
    text-indent: 2rem;
}

#profile {
     text-align: center;
     color: #FFFFFF;
     font-size: 50px;
}

.jumbotron {
	position: relative;
     background: #25231e;
}

.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

#header {
     display: inline-block;
}

#image {
     padding-top: 30px;
     width: 80%;
}
.name {
     list-style-type: none;
     font-size: 20px;
     color: #FFFFFF;
     font-family: "Fira Sans";
     padding-top: 20px;
}

.icon {
     width: 50%;
     text-align: center;
     display: block;
}

#categories {
     font-size: 2rem;
     font-family: "Fira Sans";
     font-weight: light;
     font-color: #fff;
     text-align: center;
}
.thumbnail {
     display: block;
}

.thumbnail:hover{
     text-decoration: none !important;
     
}

#help {
     float: right;
     width: 10%;
     padding-bottom: 10px;
}

/* used to center icons */
.vcenter {
 display: inline-block;
 vertical-align: middle;
 float: none;
}

#imaginary_container {
     opacity: 0.8;
     left: 15%;
     top: 17%;
     width: 82.5%;
     position: absolute;
}
.stylish-input-group .input-group-addon{
    background: white;
    opacity: 0.2;
}
.stylish-input-group .form-control{
     border-right:0; 
     box-shadow:0 0 0; 
     border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.styled h2{
     font-family: "Fira Sans";
     font-weight: normal;
     font-size: 3.5rem;
     margin-top: 4rem;
     margin-bottom: 3rem;
}

h4{
     font-weight: lighter;
     font-family: "Fira Sans"; 
}

.individual {
     margin-bottom: 20px;
}

.thumb {
     width: 15rem;
     border: 1px solid #545154;
}
.drawerz {
     font-size: 1.2rem;
}

.styled a {
     text-decoration: none ! important;
}


.drawer-handle {
     text-align: center;
     margin-left: -25px;
     margin-right: 20px;
     border: 1px solid #545154;
     padding:10px;
     opacity: 0.8;
     background: rgba(33,33,33,1);
background: -moz-linear-gradient(top, rgba(33,33,33,1) 0%, rgba(41,41,41,1) 12%, rgba(46,46,46,1) 41%, rgba(33,33,33,1) 66%, rgba(13,13,13,1) 91%, rgba(8,8,8,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,33,33,1)), color-stop(12%, rgba(41,41,41,1)), color-stop(41%, rgba(46,46,46,1)), color-stop(66%, rgba(33,33,33,1)), color-stop(91%, rgba(13,13,13,1)), color-stop(100%, rgba(8,8,8,1)));
background: -webkit-linear-gradient(top, rgba(33,33,33,1) 0%, rgba(41,41,41,1) 12%, rgba(46,46,46,1) 41%, rgba(33,33,33,1) 66%, rgba(13,13,13,1) 91%, rgba(8,8,8,1) 100%);
background: -o-linear-gradient(top, rgba(33,33,33,1) 0%, rgba(41,41,41,1) 12%, rgba(46,46,46,1) 41%, rgba(33,33,33,1) 66%, rgba(13,13,13,1) 91%, rgba(8,8,8,1) 100%);
background: -ms-linear-gradient(top, rgba(33,33,33,1) 0%, rgba(41,41,41,1) 12%, rgba(46,46,46,1) 41%, rgba(33,33,33,1) 66%, rgba(13,13,13,1) 91%, rgba(8,8,8,1) 100%);
background: linear-gradient(to bottom, rgba(33,33,33,1) 0%, rgba(41,41,41,1) 12%, rgba(46,46,46,1) 41%, rgba(33,33,33,1) 66%, rgba(13,13,13,1) 91%, rgba(8,8,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#080808', GradientType=0 );
}

#search {
     padding-right: 15px;
     margin-top: 30px;
}

h3 {
     font-size: 35px;
     font-family: "Fira Sans";
     font-weight: lighter;
     font-color: #FFFFFF;
     margin-left: 30px;
     margin-top: 5px;
     margin-bottom: 20px;
}

.checkbox {
     margin-left: 130px;
     font-weight: lighter;
     font-family: "Fira Sans"; 
     font-size: 20px;
     padding: 10px;
}

.bio {
     text-align: center;
     display: block;
     margin-top: 20px;
     width: 300px;
     font-weight: lighter;
     font-family: "Fira Sans"; 
     font-size: 18px;
}

.social {
     float:left;
     margin-left: 92px;
}
.icon {
     width: 100px;
     padding: 20px;
     display: inline-block;
}

#update, #categories, #dance, #mine {
   margin: auto;
}

#update h1 {
     font-weight: lighter;
     font-family: "Fira Sans"; 
}

#member {
    width: 80%;
}

.add_field_button {
    margin-left: -13rem;
}

.glyphicon.glyphicon-remove-sign, .glyphicon.glyphicon-thumbs-up  {
    font-size: 3rem;
}

.glyphicon.glyphicon-minus {
    font-size: 2rem;
}


#remove-slide {
    width: 60px;
    height:60px;
    background: #ffba01;
    border-radius: 20px;
}

#indifferent {
    width: 40px;
    height:40px;
    background: #fff;
    border-radius: 20px;
}

#like {
    width: 60px;
    height:60px;
    background: #5fd1d1;
    border-radius: 20px;
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: normal;
    src: local('Pacifico'), url('http://themes.googleusercontent.com/font?kit=fKnfV28XkldRW297cFLeqfesZW2xOQ-xsNqO47m55DA') format('truetype');
}
body {
    text-align: center;
}

.bookmark {
    padding-bottom: 6rem;
}
#button {
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #31373a, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #31373a, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #31373a, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 3rem;
}

#button span {
    display: inline-block;
    padding: 17px 25px;
    background-color: #5fd1d1;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 0.5;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

#button:hover span {
    background-color: #ffba01;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

#button:active, #button:focus {
    -webkit-box-shadow:    0 8px 0 #31373a, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #31373a, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #31373a, 0 12px 10px rgba(0, 0, 0, .3);
}

#button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

#people, .person {
  width: 260px;
  height: 260px;
}

#people {
  position: relative;
  margin: 0 auto;
}

.person {
  position: absolute;
  margin-top: 4rem;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all .1s linear;
}
.person:nth-child(1) {
  z-index: 5;
}
.person:nth-child(2) {
  z-index: 4;
  top: 7px;
  transform: scale(0.98);
}
.person:nth-child(3) {
  z-index: 3;
  top: 14px;
  transform: scale(0.96);
}
.person:nth-child(n+4) {
  z-index: 2;
  transform: scale(0.7);
}
.person:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  content: '';
}

.person img {
  width: 100%;
  background: white;
}

.person span {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  padding: 10px;
  font: 16px "Fira Sans";
  line-height: 30px;
  color: #555;
}

.person span strong {
  font-weight: 600;
  color: #000;
}

@keyframes yes {
  0% {
    transform: scale(1) rotateZ(0deg);
    left: 0;
  }
  30% {
    transform: scale(1.05) rotateZ(0deg);
    left: 0;
  }
  100% {
    transform: rotateZ(45deg);
    left: 400px;
  }
}
.animateYes {
  animation-fill-mode: both;
  animation: yes 0.6s linear;
}
.animateYes:before {
  transform: rotateZ(-35deg);
  background: url(http://i.imgur.com/Zkwj970.png) no-repeat center 10px;
}

@keyframes no {
  0% {
    transform: rotateZ(360deg);
    right: 0;
  }
  30% {
    transform: scale(1.05) rotateZ(360deg);
    right: 0;
  }
  100% {
    transform: rotateZ(315deg);
    right: 400px;
  }
}
.animateNo {
  animation-fill-mode: both;
  animation: no 0.6s linear;
}
.animateNo:before {
  transform: rotateZ(35deg);
  background: url(http://i.imgur.com/XqQZ4KR.png) no-repeat center 10px;
}

#control {
  position: relative;
  margin: 6rem auto 0;
  width: 250px;
}
#control .button {
  width: 65px;
  height: 65px;
  background: #eee;
  position: absolute;
  top: 5px;
  border-radius: 50%;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#control .button .trigger {
  background: white;
  display: block;
  border-radius: 50%;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: all .1s;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#control .button .trigger:active {
  transform: translateY(-50%) scale(0.75);
  transition: all .05s linear;
}
#control .button .trigger:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-family: 'FontAwesome';
}
#control .no {
  left: 50px;
}
#control .no .trigger:before {
  content: "\f00d";
  font-size: 28px;
  color: #c33;
}
#control .yes {
  right: 50px;
}
#control .yes .trigger:before {
  content: "\f004";
  font-size: 22px;
  color: #3b7;
}
#control .info {
  left: calc(50% - 23px);
  top: 17px;
  height: 46px;
  width: 46px;
}
#control .info .trigger {
  width: 65%;
  height: 65%;
}
#control .info .trigger:before {
  content: "\f05a";
  font-size: 16px;
  color: #3498db;
}


