/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}

#navbar {
    bottom: ;
}
.navbar-header li{
    padding: 2rem;
}

.navi {
   padding-top: 5rem;
}

body {
     background: rgba(41,28,2,1);
     background: -moz-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,28,2,1)), color-stop(100%, rgba(27,54,109,1)));
     background: -webkit-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     background: -o-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     background: -ms-linear-gradient(top, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     background: linear-gradient(to bottom, rgba(41,28,2,1) 0%, rgba(27,54,109,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#291c02', endColorstr='#1b366d', GradientType=0 );
     font-family: "Fira Sans";
     font-weight: lighter;
}

.container {
     display: block;
     text-align: center;
}

#name {
     margin-top: 2rem;
     font-size: 3rem; 
     display: block;
}
#info {
     font-size: 1.5rem;
     text-align: center;
     display: block;
}

#descrip {
    padding: 1.2rem;
    text-align: left;
    text-indent: 2rem;
}

#profile {
     text-align: center;
     color: #FFFFFF;
     font-size: 50px;
}

.jumbotron {
	position: relative;
     background: #25231e;
}

.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

#header {
     display: inline-block;
}

#image {
     padding-top: 30px;
     width: 80%;
}
.name {
     list-style-type: none;
     font-size: 20px;
     color: #FFFFFF;
     font-family: "Fira Sans";
     padding-top: 20px;
}

.icon {
     width: 50%;
     text-align: center;
     display: block;
}

#categories {
     font-size: 2rem;
     font-family: "Fira Sans";
     font-weight: light;
     font-color: #fff;
     text-align: center;
}
.thumbnail {
     display: block;
}

.thumbnail:hover{
     text-decoration: none !important;
     
}

#help {
     float: right;
     width: 10%;
     padding-bottom: 10px;
}

/* used to center icons */
.vcenter {
 display: inline-block;
 vertical-align: middle;
 float: none;
}

#imaginary_container {
     opacity: 0.8;
     left: 15%;
     top: 17%;
     width: 82.5%;
     position: absolute;
}
.stylish-input-group .input-group-addon{
    background: white;
    opacity: 0.2;
}
.stylish-input-group .form-control{
     border-right:0; 
     box-shadow:0 0 0; 
     border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.styled h2{
     font-family: "Fira Sans";
     font-weight: lighter;
     margin-left: 30px;
     margin-top: 5px;
     margin-bottom: 20px;
}
.styled {
    padding-right: 30px;
}

h4{
     font-weight: lighter;
     font-family: "Fira Sans"; 
}

.ind {
     margin-bottom: 20px;
}

.thumb {
     width: 10rem;
     border: 1px solid #545154;
     margin-left: 55px;
}
.drawerz {
     font-size: 1.2rem;
     margin-left: 10px;
}

.styled a {
     text-decoration: none ! important;
}


.drawer-handle {
     text-align: center;
     margin-left: -25px;
     margin-right: 20px;
     border: 1px solid #545154;
     padding:10px;
     opacity: 0.8;
     background: rgba(33,33,33,1);
background: -moz-linear-gradient(top, rgba(33,33,33,1) 0%, rgba(41,41,41,1) 12%, rgba(46,46,46,1) 41%, rgba(33,33,33,1) 66%, rgba(13,13,13,1) 91%, rgba(8,8,8,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,33,33,1)), color-stop(12%, rgba(41,41,41,1)), color-stop(41%, rgba(46,46,46,1)), color-stop(66%, rgba(33,33,33,1)), color-stop(91%, rgba(13,13,13,1)), color-stop(100%, rgba(8,8,8,1)));
background: -webkit-linear-gradient(top, rgba(33,33,33,1) 0%, rgba(41,41,41,1) 12%, rgba(46,46,46,1) 41%, rgba(33,33,33,1) 66%, rgba(13,13,13,1) 91%, rgba(8,8,8,1) 100%);
background: -o-linear-gradient(top, rgba(33,33,33,1) 0%, rgba(41,41,41,1) 12%, rgba(46,46,46,1) 41%, rgba(33,33,33,1) 66%, rgba(13,13,13,1) 91%, rgba(8,8,8,1) 100%);
background: -ms-linear-gradient(top, rgba(33,33,33,1) 0%, rgba(41,41,41,1) 12%, rgba(46,46,46,1) 41%, rgba(33,33,33,1) 66%, rgba(13,13,13,1) 91%, rgba(8,8,8,1) 100%);
background: linear-gradient(to bottom, rgba(33,33,33,1) 0%, rgba(41,41,41,1) 12%, rgba(46,46,46,1) 41%, rgba(33,33,33,1) 66%, rgba(13,13,13,1) 91%, rgba(8,8,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#080808', GradientType=0 );
}

#search {
     padding-right: 15px;
     margin-top: 30px;
}

h3 {
     font-size: 35px;
     font-family: "Fira Sans";
     font-weight: lighter;
     font-color: #FFFFFF;
     margin-left: 30px;
     margin-top: 5px;
     margin-bottom: 20px;
}

.checkbox {
     margin-left: 130px;
     font-weight: lighter;
     font-family: "Fira Sans"; 
     font-size: 20px;
     padding: 10px;
}

.bio {
     text-align: center;
     display: block;
     margin-top: 20px;
     width: 300px;
     font-weight: lighter;
     font-family: "Fira Sans"; 
     font-size: 18px;
}

.social {
     float:left;
     margin-left: 92px;
}
.icon {
     width: 100px;
     padding: 20px;
     display: inline-block;
}

#update {
    margin-top: 75px;
    margin-left: 25px;
    margin-right: 25px;
}

#update h1 {
     font-weight: lighter;
     font-family: "Fira Sans"; 
}

#member {
    width: 80%;
}

.add_field_button {
    margin-left: -13rem;
}

.glyphicon.glyphicon-remove-sign, .glyphicon.glyphicon-thumbs-up  {
    font-size: 3rem;
}

.glyphicon.glyphicon-minus {
    font-size: 2rem;
}


#remove-slide {
    width: 60px;
    height:60px;
    background: #ffba01;
    border-radius: 20px;
}

#indifferent {
    width: 40px;
    height:40px;
    background: #fff;
    border-radius: 20px;
}

#like {
    width: 60px;
    height:60px;
    background: #5fd1d1;
    border-radius: 20px;
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: normal;
    src: local('Pacifico'), url('http://themes.googleusercontent.com/font?kit=fKnfV28XkldRW297cFLeqfesZW2xOQ-xsNqO47m55DA') format('truetype');
}
body {
    text-align: center;
}

#button {
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #31373a, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #31373a, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #31373a, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 3rem;
}

#button span {
    display: inline-block;
    padding: 17px 25px;
    background-color: #5fd1d1;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 0.5;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

#button:hover span {
    background-color: #ffba01;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

#button:active, #button:focus {
    -webkit-box-shadow:    0 8px 0 #31373a, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #31373a, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #31373a, 0 12px 10px rgba(0, 0, 0, .3);
}

#button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}


