//* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
     background-color: #1b366d;
}

.settings p {
     margin-left: 10px;
     background-color: #deebf7;
     width: 500px;
     font-variant: small-caps;
}

.settings img {
     width: 10px;
     height: 10px;
}
